* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-principal {
    width: 100%;
    height: 400px;
    background-image: url(./accets/pexels-pixabay-270348.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    font-family: 'Mali', cursive;
}
.profile {
    border: 2px solid rgb(74, 74, 74);
    width: 150px;
    border-radius: 100%;
    margin-top: 20px;
}
.title {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
    letter-spacing: 5px;
    filter: drop-shadow(2px 2px 2px rgb(221, 129, 254));
}
.sub-title {
    color: rgb(219, 219, 219);
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 5px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0))
}