* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}
.header-principal {
    width: 100%;
    height: 400px;
    background-image: url(./accets/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    text-align: center;
}
.profile {
    border: 2px solid rgb(74, 74, 74);
    width: 150px;
    border-radius: 100%;
    margin-top: 20px;
    object-fit: cover;
}
.title{
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-top: 30px;
    letter-spacing: 5px;
    filter: drop-shadow(2px 2px 2px rgb(221, 129, 254));
}
.sub-title {
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
    letter-spacing: 5px;
    filter: drop-shadow(2px 2px 2px rgb(255, 0, 0));
}
@media(max-width: 750px){
    .title{
        font-size: 19px;
    }
}

/* menú */
.contain {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    flex-wrap: wrap;
}
.hobbies, .title-hobbies {filter: drop-shadow(2px 2px 2px rgb(221, 129, 254));}
.hobbies, div{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}
.hobbies-contain {
    text-align: center;
}
.hobbies-contain, h6 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
}
.hobbies-contain, .img-hobbies {
    width: 100px;
}

.sobre {
    max-width: 400px;
}
.sobre, p {
    margin-top: 20px;
}
.sobre, .title-sobre{filter: drop-shadow(2px 2px 2px rgb(221, 129, 254));}

@media(max-width: 1250px) {
    
}
/* SKILLS */

.container-skills {
    display: flex;
    background-color: #291d2b;
    margin-top: 35px;
    height: 400px;
    justify-content:center;
    text-align: center;
}
.skills, h1 {
    font-size: 32px;
    margin-top: 30px;
}
.img-skill {
    width: 70px;
}
.skills, div {
    margin: 30px;
}
.skills, h2 {
    color: white;
    font-weight: bold;
    font-size: 13px;
}
@media(max-width: 900px) {
    .img-skill {
        width: 60px;
    }
    .skills, div {
        margin: 20px;
    }
}

/* Proyects */
.proyects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #291d2b;
}
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.btnCode {
    width: 200px;
    height: 35px;
    background-color:#5f4e62;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.btnWeb {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: red;
    margin-top: 10px;
    cursor: pointer;
}

a:hover {
    color: black;
}
.i-one {
    border-radius: 20px;
    background-color: black;
    border: 2px solid rgb(63, 63, 63);
}
.proyectOne, img {
    width: 200px;
    border-radius: 10px;
}
.proyectTwo, img {
    width: 200px;
}
.proyectThree, img {
    width: 200px;
}
.proyectFour, img {
    width: 200px;
}
.proyectFive, img {
    width: 200px;
}
.proyectSix, img {
    width: 200px;
}
.i-two {
    border-radius: 20px;
    background-color: black;
    border: 2px solid rgb(63, 63, 63);
    box-shadow: 0px,0px,50px,0px rgba(0,0,0.5)
}
.i-three {
    border-radius: 20px;
    background-color: black;
    border: 2px solid rgb(63, 63, 63);
}
.i-four {
    border-radius: 20px;
    background-color: black;
    border: 2px solid rgb(63, 63, 63);
}
.i-five {
    border-radius: 20px;
    background-color: black;
    border: 2px solid rgb(63, 63, 63);
}
.i-six {
    border-radius: 20px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(63, 63, 63);
}

/* Contacto */
#contact {
    margin-top: -31px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
}
.logoDiv, .imagen-logo {
    width: 50px;
    cursor: pointer;
}
.logoDiv, .text-logo {
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
}
